{% extends 'base.html.twig' %}

{% block title %}About Me{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('about_me') }}
{% endblock %}

{% block javascript %}
  {{ parent() }}
  {{ encore_entry_script_tags('about_me') }}
{% endblock %}

{% block pagename %}Please have a seat.{% endblock %}

{% block body %}
  <div class="page-content_halfpage">
    <h1 class="page-content__primary-heading">Welcome!</h1>
    <img src="{{ asset('build/modules/about_me/images/pfp.jpg') }}" alt="My profile picture" class="page-content__pfp" />
    <p>Welcome to my page. Be sure to check out my node.js <a href="https://m3tro1d.herokuapp.com" target="_blank" rel="noopener noreferrer" class="link">website</a>.</p>

    <h3 class="page-content__secondary-heading">My skills and hobbies</h3>
    <ul>
      <li>Computer programming: C, C++, Python, JavaScript, a bit of Scheme, some of batch and Vim scripting;</li>
      <li>Cycling;</li>
      <li>Casual article writing.</li>
    </ul>

    <h3 class="page-content__secondary-heading page-content__hobby-heading">My favorite things</h3>
    <small class="page-content__hobby-caption"><i>Dynamically refreshed!</i></small>
    <div class="hobbies">
      {% for header, urls in hobbies %}
        <h4 class="hobby__heading">{{ header }}</h4>
        <div class="hobby__block slider">
          <div class="slider__viewport">
            <ul class="slider__slidewrapper">
              {% for url in urls %}
                <li class="slider__slide"><img class="slider__slide-img" src="{{ url }}" alt="{{ header }} image #{{ loop.index }}" /></li>
              {% endfor %}
            </ul>

            <div class="slider__prev-btn"></div>
            <div class="slider__next-btn"></div>

            <ul class="slider__nav-btn-container">
              {% for url in urls %}
                <li class="slider__nav-btn"></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
      <button class="hobbies__update-btn" id="update-btn">Update</button>
      <div class="hobbies__update-info" id="update-info"></div>
    </div>
  </div>
{% endblock %}
